<p>new-notice works!</p>
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <table>
                    @for (notice of notices; track $index) {
                        <tr>
                            <td>{{notice.title | lowercase}}
                                @if (notice.new=='1') {
                                    <img src="https://gpadp.org.in/new.gif
                                    " alt="">
                                }
                            </td>
                            <td><a class="btn btn-sm btn-danger" target="_blank" href="https://gpadp.org.in/admin/uploads/{{notice.notice}}">Download</a></td>
                            <td>{{notice.date  | date:'y/m/d'}}</td>
                        </tr>
                    }
                    
                </table>
            </div>
        </div>
    </div>
</section>