<p>notices works!</p>
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <table>
                    <tr>
                        <th>Title</th>
                        <th>File</th>
                    </tr>
                    @for (notice of notices; track $index) {
                        <tr>
                            <td>{{notice.title}}
                                @if (notice.new=='1') {
                                    <img src="https://gpadp.org.in/new.gif" alt="new">
                                }
                            </td>
                            <td><a class="btn btn-sm btn-danger" href="{{notice.notice}}">Download</a></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</section>
